<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del superheroe</title>
</head>
<body>  
    <div>
    <h2><%= superheroe.nombreSuperheroe %></h2>
    <dl>
        <dt>Nombre Real:</dt>
        <dd><%= superheroe.nombreReal %></dd>

        <dt>Edad:</dt>
        <dd><%= superheroe.edad %></dd>

        <dt>Planeta de Origen:</dt>
        <dd><%= superheroe.planetaOrigen %></dd>

        <dt>Debilidad:</dt>
        <dd><%= superheroe.debilidad %></dd>

        <dt>Poderes:</dt>
        <dd><%= superheroe.poderes %></dd>

        <dt>Habilidad Especial:</dt>
        <dd><%= superheroe.habilidadEspecial %></dd>

        <dt>Aliados:</dt>
        <dd><%= superheroe.aliados %></dd>

        <dt>Enemigos:</dt>
        <dd><%= superheroe.enemigos %></dd>
    </dl>

    <a href="/api/heroes" title="Volver al listado">Cancelar</a><br>
    <form action="/api/heroes/<%= superheroe._id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar a este superhéroe?');">
        <button type="submit">Confirmar eliminación</button>
    </form>

</div>

</body>
</html>